bar_code_mobile_scanner/barcode-scanner/ssl
bar_code_mobile_scanner/barcode-scanner/certs
bar_code_mobile_scanner/barcode-scanner/node_modules

barcode-api/mvnw.cmd
barcode-api/.idea
barcode-api/target