@media (max-width: 1080px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
    background-color: #161616;
    color: white;
  }

  header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
}
