<div class="container">
  <div class="input-group">
    @if (countControl.hasError('min') && countControl.touched) {
    <div class="error">Deve ser maior que 0</div>
    }
  </div>

  @if (isSending) {
  <div class="progress">
    <progress></progress>
  </div>
  }

  <div class="control">
    <div class="quantity">
      <span>
        Quantidade:
        <input class="set-quantity"
          id="countInput"
          type="number"
          min="1"
          [formControl]="countControl"
          (blur)="countControl.markAsTouched()"
        />
      </span>
    </div>

    <button
      (click)="startScanner()"
      aria-label="Recarregar scanner"
      class="refresh-scan"
    >
      <img
        ngSrc="/refresh.png"
        alt="Ícone de recarregar"
        width="20"
        height="20"
      />
    </button>
  </div>

  <div class="video-container">
    <video #videoElement autoplay playsinline muted></video>
  </div>
  <button
    class="send-codes"
    (click)="openModal()"
    [disabled]="scannedBarcodes.length === 0 || isSending"
    aria-label="Enviar códigos escaneados"
  >
    Enviar códigos ({{ scannedBarcodes.length }})
  </button>
  <p>Posicione o código dentro da área de leitura</p>
</div>

@if (showModal) {
<div class="modal-overlay">
  <div class="modal-content">
    <h3>Escolha o arquivo para salvar os códigos</h3>

    <p>Arquivos existentes:</p>
    <ul>
  @for (file of scannedFiles; track $index) {
    <li>
      <label class="custom-radio">
        <input
          class="select-file"
          type="radio"
          name="selectedFile"
          [value]="file.filename"
          (change)="selectedFilename = file.filename"
          [checked]="selectedFilename === file.filename"
        />
        <span class="checkmark"></span>
        {{ file.filename }}
      </label>
    </li>
  }
</ul>


    <p>Ou crie um arquivo novo:</p>
    <input
      class="new-name"
      type="text"
      placeholder="Novo nome de arquivo (ex: produtos)"
      [formControl]="newFilenameControl"
    />

    <div class="modal-buttons">
      <button (click)="confirmSend()" [disabled]="isSending">
        Confirmar envio
      </button>
      <button (click)="showModal = false" [disabled]="isSending">
        Cancelar
      </button>
    </div>
  </div>
</div>
}
