<div class="container">
  <div class="input-group">
    @if (countControl.hasError('min') && countControl.touched) {
      <div class="error">Deve ser maior que 0</div>
    }
  </div>

  @if (isSending) {
    <div class="progress">
      <progress></progress>
    </div>
  }

  <div class="video-container">

    <button (click)="startScanner()" aria-label="Recarregar scanner">
      <img
        ngSrc="/refresh.png"
        alt="Ícone de recarregar"
        width="20"
        height="20"
      />
    </button>

    <video #videoElement autoplay playsinline muted></video>
  </div>

  <input
    id="countInput"
    type="number"
    min="1"
    [formControl]="countControl"
    placeholder="repeat"
    (blur)="countControl.markAsTouched()"
  />
</div>
